{% extends "PrestaShopTestBundle::layout.html.twig" %} {% block title %} mocha - {{ parent() }} {% endblock %} {% block prestaShopTest_body
    %}
    
   
    <hr>


    <div class="card">
        <div class="card-body">
             <a href="{{ html }}"> version html </a> <br>
            <a href="{{ json }}"> version json </a>
        </div>
    </div>
   
    

    
      
      {% endblock %}